.pdf-container {
  padding-top: 20px;
  display: flex;
  height: auto;
  width: auto;
  background-size: cover; /* Cover the entire section with the image */
  background-position: center; /* Center the image within the section */
  background-repeat: no-repeat; /* Do not repeat the background image */
  border-radius: 10px; /* Add rounded corners */
}

.pdf-container embed {
  position: relative;
  height: 100vh;
  width: 100vh;
  margin-left: auto;
}
