/* Sidebar */
.sidebar {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The navigation menu links */
.sidebar button {
  display: block; /* Make buttons block elements to take full width */
  width: 100%; /* Set button width to 100% of its container */
  padding: 10px; /* Add padding for better visual appearance */
  margin-bottom: 5px; /* Add margin between buttons */
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.sidebar button:hover {
  background-color: #2980b9; /* Change background color on hover */
}
