.content {
  padding: 1rem 6rem;
  background-image: url("../images/TestBG.jpg");

  background-size: cover; /* Cover the entire section with the image */
  background-position: center; /* Center the image within the section */
  background-repeat: repeat; /* Do not repeat the background image */
  height: 200vh; /* Set the height of the section (100% of the viewport height) */
  margin-left: 100px;
}
